
/* #region COLORS & BACKGROUNDS */

:root
{
    --color-background: white;
    --color-surface: white;
    --color-surface-variant: hsl(193, 100%, 96%);
    --color-on-surface: hsl(208, 11%, 55%);
    --color-on-surface-variant: hsl(192, 100%, 9%);
    --color-primary: hsl(322, 100%, 66%);
    --color-primary-variant: hsl(322, 96%, 80%);
    --color-on-primary: white;
    --color-secondary: hsl(192, 100%, 9%);
    --color-on-secondary: white;
}

body {
    background-color: var(--color-background);
    }
header {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
    }
@media only screen and ( max-width: 900px ) {
    header {
        background-image: url("./images/bg-hero-mobile.svg");
        }
    }
@media only screen and ( min-width: 900px ) {
    header {
        background-image: url("./images/bg-hero-desktop.svg");
        }
    }
footer {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    }

button {
    box-shadow: 0px 0px 10px lightgray;
    border-style: none;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    }
button:hover {
    background-color:var(--color-primary-variant);
    }
button.header-button-try {
    background-color: var(--color-on-secondary);
    color: var(--color-secondary);
    }
button.header-button-try:hover {
    color: var(--color-on-surface);
    box-shadow: 0px 0px 10px lightgray;
    }

.hero-space {
    background-size: cover;
    color: var(--color-on-surface-variant);
    }

.feature-card {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    box-shadow: 0px 0px 10px hsl(204, 8%, 90%);
    }
.feature-card h2 {
    color: var(--color-on-surface-variant);
    }

.cta-card {
    background-color: var(--color-surface);
    box-shadow: 0px 0px 10px hsl(204, 8%, 90%);
    }
.cta-card-background-sliver {
    background-color: var(--color-secondary);
    }

.footer-copyright-attribution a {
    color: hsl(228, 39%, 65%);
    }
.footer-logo {
    filter: brightness(0) invert(1);
    }
footer {
    color: var(--color-surface-variant);
    }

/* #endregion */

/* #region TYPOGRAPHY MOBILE */

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins/Poppins-Medium.ttf");
    }
@font-face {
    font-family: OpenSans;
    src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
    }

body {
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 150%;
    }
.hero-space {
    font-size: 16px;
    line-height: 150%;
    }
footer {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    }
button {
    font-family: "OpenSans";
    font-weight: 700;
    font-size: 12px;
    }

h1, h2, h3 {
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    line-height: 150%;
    }
h1 {
    font-size: 24px;
    }
h2 {
    font-size: 20px;
    }
h3 {
    font-size: 18px;
    }

.footer-contact-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    }
.footer-copyright-attribution {
    font-size: 11px;
    text-align: center;
    line-height: 150%;
    }

/* #endregion */

/* #region TYPOGRAPHY DESKTOP */
@media only screen and ( min-width: 901px ) {

header button {
    font-size: 15px;
    }

body, h1, h2 {
    text-align: left;
    }
h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    }
h2 {
    font-size: 30px;
    }
h3 {
    font-size: 32px;
    }
body, .hero-space-blurb {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    }

.cta-card {
    text-align: center;
    }
.cta-button-get-started {
    font-size: 20px;
    }

footer, .footer-contact-text {
    font-size: 16px;
    }
.footer-copyright-attribution {
    text-align: right;
    }

}
/* #endregion */


/* #region PLACEMENT MAIN */

body { margin: 0; }
footer { padding: 20px; margin: 0; }

/* #region header */
header 
{
    min-height: 100vh;
}
.header-top
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.header-logo-container {
    width: 7rem;
    }
.header-logo {
    width: 100%;
    }
/* #endregion */

/* #region hero space */
.hero-space {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.hero-space-button-get-started {
    margin-top: 18px;
    margin-bottom: 56px;
    }
.hero-space-image-container {
    width: 100%;
    }
.hero-space-image {
    width: 100%;
    object-fit: cover;
    }
/* #endregion */

/* #region features */
.feature-image-container {
    width: 100%;
    }
.feature-image {
    width: 100%;
    object-fit: cover;
    }
.feature-card {
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 20px;
    }
.feature-card div:first-child {
    margin-block-end: 50px;
    }
.features {
    margin-top: 64px;
    margin-bottom: 128px;
    }
/* #endregion */

/* #region bottom cta */
.cta-card {
    padding: 20px;
    padding-bottom: 40px;
    margin: 10px;
    margin-bottom: -70px;
    border-radius: 20px;
    z-index: 1;
    }
.cta-card :first-child {
    margin-bottom: 24px;
    }
.cta-card-background-sliver {
    position: relative;
    height: 120px;
    width: 100%;
    z-index: -1;
    }
/* #endregion */

/* #region footer */
.footer-contact-item {
    width: 100%;
    display: flex;
    }
.footer-contact-icon-container {
    width: 12%;
    padding-top: 5px;
    }
.footer-contact-text {
    width: 80%;
    padding-right: 8%;
    }
.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.footer-social-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    }
/* #endregion */

/* #endregion */

/* #region PLACEMENT MOBILE */
@media only screen and ( max-width: 900px ) {

button {
    height: 2.5rem;
    border-radius: 1.25rem;
    padding-right: 3.7rem;
    padding-left: 3.7rem;
    }
button.header-button-try {
    height: 1.7rem;
    border-radius: 0.85rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    }

header {
    padding: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
    }
.hero-space {
    padding: 36px;
    flex-direction: column;
    }
.features {
    margin: 20px;
    margin-bottom: 50px;
    }
.feature-card {
    margin-bottom: 2rem;
    }
.feature-image {
    max-height: 50vh;
    object-fit: scale-down;
    }

/* #region footer */
.footer-logo {
    width: 50%;
    }
.footer-contacts {
    margin-bottom: 64px;
    }
.footer-contact-item {
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    }
.footer-navigation {
    margin-bottom: 64px;
    }
.footer-navigation-item {
    margin-top: 18px;
    margin-bottom: 18px;
    }
.footer-social-item {
    margin-left: 8px;
    margin-right: 8px;
    }
/* #endregion */


}
/* #endregion */

/* #region PLACEMENT DESKTOP */
@media only screen and ( min-width: 901px ) {

header, footer {
    padding: 0 4rem;
    }

/* #region header */
.header-top {
    padding-top: 4rem;
    padding-bottom: 4rem;
    }
.header-logo {
    width: 12rem;
    }
.header-button-try {
    height: 3.2rem;
    width: 12rem;
    border-radius: 6rem;
    }
/* #endregion */

/* #region hero space */
.hero-space {
    flex-direction: row;
    }
.hero-space-text-container {
    margin-right: 6rem;
    width: 70vw;
    }
.hero-space-button-get-started {
    width: 18rem;
    height: 4rem;
    border-radius: 2rem;
    }
/* #endregion */

/* #region features */
.features {
    margin-top: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    }
.feature-card {
    max-width: 70rem;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 8rem;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-between;
    }
.feature-card:nth-child(2n) {
    flex-direction: row;
    }
.feature-text-container {
    width: 50%;
    }
.feature-image-container {
    width: 38%;
    }
.feature-image {
    width: 100%;
    object-fit: contain;
    }
/* #endregion */

/* #region bottom cta */
.cta-card-container {
    align-items: center;
    }
.cta-card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5.5rem;
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 48rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
.cta-button-get-started {
    height: 5rem;
    width: 26rem;
    border-radius: 6rem;
    }
.cta-card-background-sliver {
    width: 100%;
    }
.cta-card-background-sliver {
    height: 12rem;
    }
/* #endregion */

/* #region footer */
footer {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 10rem;
    }
.footer-logo {
    width: 14rem;
    margin-bottom: 2rem;
    }
.footer-copyright {
    float: right;
    }
.footer-row {
    display: flex;
    flex-direction: row;
    }
.footer-contacts {
    width: 35%;
    margin-right: 7%;
    }
.footer-contact-item {
    margin-bottom: 1rem;
    }
.footer-navigation {
    width: 35%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    height: 9rem;
    flex-wrap: wrap;
    }
.footer-navigation-item {
    margin-bottom: 1rem;
    width: 50%;
    }
.footer-socials {
    justify-items: start;
    align-items: flex-start;
    text-align: start;
    }
.footer-social-item {
    margin-left: 1rem;
    }
/* #endregion */

}
/* #endregion */