
/* #region COLORS & BACKGROUNDS */

:root
{
    --color-background: white;
    --color-surface: white;
    --color-surface-variant: hsl(193, 100%, 96%);
    --color-on-surface: hsl(208, 11%, 55%);
    --color-on-surface-variant: hsl(192, 100%, 9%);
    --color-primary: hsl(322, 100%, 66%);
    --color-on-primary: white;
    --color-secondary: hsl(192, 100%, 9%);
    --color-on-secondary: white;
}

body {
    background-color: var(--color-background);
    }
header {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
    }
header button {
    background-color: var(--color-on-secondary);
    color: var(--color-secondary);
    }
footer {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    }
button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    }

@media only screen and ( max-width: 500px ) {
    .hero-space {
        background-image: url("./images/bg-hero-mobile.svg");
        }
    }
@media only screen and ( min-width: 500px ) {
    .hero-space {
        background-image: url("./images/bg-hero-desktop.svg");
        }
    }
.hero-space {
    color: var(--color-on-surface-variant);
    }

.feature-card {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    }
.feature-card h2 {
    color: var(--color-on-surface-variant);
    }

.footer-copyright-attribution a {
    color: hsl(228, 45%, 44%);
    }

/* #endregion */

/* #region TYPOGRAPHY */

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
    }
@font-face {
    font-family: OpenSans;
    src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
    }

body {
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    }
footer {
    text-align: left;
    }
button {
    font-family: "OpenSans";
    font-weight: 700;
    }

h1, h2 {
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    }

.footer-copyright-attribution {
    font-size: 11px;
    text-align: center;
    }

/* #endregion */

